<h1>Teams#index</h1>
<table style="width:100%">
  <thead>
    <th>Team</th>
    <th>Level</th>
  </thead>
  <tbody>
    <% @teams.each do |team|%>
      <tr>
        <td><%= team.name.titleize %></td>
        <td><%= team.level.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
