<h1>Scores#index</h1>
<ul>
  <li><%= link_to 'Cicket Scores', scrape_scores_path%></li>
  <li><%= link_to 'Team data', scrape_team_data_scores_path%></li>
  <li><%= link_to 'Upcoming matches', scrape_upcoming_matches_scores_path%></li>
  <li><%= link_to 'Team Squads', scrape_team_squad_members_scores_path%></li>
</ul>
