<h3>Matche Info</h3>
<table style="width:100%">
  <h4>Toss: <%= match.toss %></h4>
  <thead>
    <th>Teams</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% match.team_squads.each do |team_squad| %>
      <tr>
        <td><%= team_squad.team.name.titleize %></td>
        <td>
          <ul>
            <% team_squad.team_squad_members.each do |squad_member| %>
              <li><%= squad_member.player.web_profile_url.split("/").last.titleize %>(<%= squad_member.status %>)</li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
