<h1>Matches#index</h1>
<table style="width:100%">
  <thead>
    <th>Teams</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% @match.team_squads.each do |team_squad| %>
      <tr>
        <td><%= team_squad.team.name.titleize %></td>
        <td>
          <ul>
            <% team_squad.players.each do |player| %>
              <li><%= player.web_profile_id.split("/").last.titleize %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>